<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/i18n-msg/i18n-msg.html">

<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="../data-providers/quiz-status-data.html">

<dom-module id="config-view">
  <template>
    <style include="shared-styles">

      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .landing-img {
        width: 100%;
        height: 50%;
        background-image: url(../../images/landing-background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .button-quiz {
        margin: auto 0 1rem 0;
      }

      .description-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        position: absolute;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 450px;
      }

      .description-wrapper > p {
        text-align : center;
        line-height: 1.7;
        font-size: var(--sopra-font-xl);
        color: #333333;
        margin: 1em 1em 0 1em;
      }

      .box-wrapper {
        margin: 1em 1em 0 1em;
        width: 15em;
      }

      @media screen and (min-width: 768px) {
        .landing-img {
          background-attachment: fixed;
          background-position: center; 
        }

        .button-quiz {
          margin-bottom: 2rem;
        }
       
        .box-wrapper {
          width: 30em;
        }
      }

      @media screen and (min-width: 1024px) {
        .description-wrapper {
          top: 20%;
        }

        .description-wrapper > p {
          font-size: var(--sopra-font-xxl);
        }
      }

      .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 80px;
      }

      .input-container > input {
        border-bottom: 2px solid var(--sopra-grey-200);
      }
    </style>

    <!-- Store Candidate's Information -->
    <quiz-status-data 
      id="quizStatusData"
      profile="{{profile}}"
      storage-data="{{storageData}}">
    </quiz-status-data>

    <div class="landing-img"></div>
    
    <div class="description-wrapper">
      <p class="text-result"> 
        <i18n-msg msgid="app-description">
          ¡Bienvenido a Sopra Steria Quiz!
          Por favor ingresa los datos del candidato y selecciona un perfil para comenzar la prueba.
        </i18n-msg>
      </p>
      <div class="box-wrapper" id="formContainer">
        <form id="resultForm">
          <div class="input-container"> 
            <label> <i18n-msg msgid="name">Name</i18n-msg>*</label>
            <input class="input-quiz" name="name"  value="{{user.name::input}}" type="text" required>
          </div>

          <div class="input-container">
            <label> <i18n-msg msgid="lastname">Lastname</i18n-msg>*</label>
            <input class="input-quiz" name="lastname" value="{{user.lastname::input}}" type="text" required>
          </div>

            <div class="input-container">
              <label> <i18n-msg msgid="phone">Phone Number</i18n-msg>*</label>
              <input class="input-quiz" name="phone" value="{{user.phone::input}}" pattern="^(?:\\+?(\\d{1}))?[0-9]{9,19}$"  type="text">
            </div>

          <div class="input-container">
            <label> <i18n-msg msgid="email">Email</i18n-msg>*</label>
            <input class="input-quiz"  name="email" value="{{user.email::input}}" type="email" required>
          </div>
        </form>
      </div> 
    </div>

    <button class="button-quiz" on-click="_beginQuiz">
      <span> <i18n-msg msgid="start"> Start </i18n-msg> </span>
    </button>
  </template>

  <script>
    class ConfigView extends Polymer.Element {
      static get is() { return 'config-view'; }

      static get observers() {
        return [
          '_checkFormValid(user.*)'
        ];
      }

      static get properties() {
        return {
          /** Quiz profile (frontend, backend, fullstack, etc.) */
          profile: String,
          /** Data from localStorage */
          storageData: Object,
          /** Candidate's information */
          user: {
            type: Object,
            value: () => ({}),
            notify: true
          },
          /** Value to check if the form is valid */
          isValid: {
            type: Boolean,
            value: false,
            notify: true
          },
        };
      }

      /** Ready function */
      ready() {
        super.ready();
        this.$.quizStatusData.clearLocalStorage();
      }

      /** Method to observe if the form is valid or not */
      _checkFormValid() {
        this.isValid = this.$.resultForm ? this.$.resultForm.checkValidity() : false;
      }
    
      /** Function that stores the candidate's information in localStorage and redirects to landing-view */
      _beginQuiz() {
        this.profile = 'frontend';

        this.$.quizStatusData.setUserData(this.user);        
        
        const profileEvent = new CustomEvent(
          'onProfileChange',
          { detail: { profile: this.profile }, composed: true }
        );

        this.dispatchEvent(profileEvent);
      }
    }
    window.customElements.define(ConfigView.is, ConfigView);
  </script>
</dom-module>
