<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/i18n-msg/i18n-msg.html">

<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="../data-providers/quiz-status-data.html">

<dom-module id="config-view">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0px 20px 0px;
      }

      .box-wrapper {
        width: 80%;
        padding-bottom: 20px;
      }

      .box-wrapper > p {
        margin: 1em;
        text-align: center;
        margin: 0px;
        line-height: 1.7;
        font-size: var(--sopra-font-xl);
        color: #333333;
      }

      .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 80px;
      }
      
      .button-container{
        display: flex;
        justify-content: center;
      }

      @media screen and (min-width: 768px) {
        .box-wrapper {
          width: 65%;
        }
        .box-wrapper > p {
          font-size: var(--sopra-font-xxl);
        }
      }
    </style>

    <!-- Store Candidate's Information -->
    <quiz-status-data 
      id="quizStatusData"
      profile="{{profile}}"
      storage-data="{{storageData}}">
    </quiz-status-data>

    <div class="box-wrapper">
      <p class="text-result"> 
        ¡Bienvenido a Sopra Steria Quiz! 
        Por favor ingresa los datos del candidato y selecciona un perfil para comenzar la prueba
      </p>
    </div>
    <div class="box-wrapper" id="formContainer">
        <form id="resultForm">
          <div class="input-container"> 
            <label> <i18n-msg msgid="name">Name</i18n-msg>*</label>
            <input class="input-quiz" name="name"  value="{{user.name::input}}" type="text" required>
          </div>

          <div class="input-container">
            <label> <i18n-msg msgid="lastname">Lastname</i18n-msg>*</label>
            <input class="input-quiz" name="lastname" value="{{user.lastname::input}}" type="text" required>
          </div>

            <div class="input-container">
              <label> <i18n-msg msgid="phone">Phone Number</i18n-msg>*</label>
              <input class="input-quiz" name="phone" value="{{user.phone::input}}" pattern="^(?:\\+?(\\d{1}))?[0-9]{9,19}$"  type="text">
            </div>

          <div class="input-container">
            <label> <i18n-msg msgid="email">Email</i18n-msg>*</label>
            <input class="input-quiz"  name="email" value="{{user.email::input}}" type="email" required>
          </div>
        </form>
      <div class="button-container">
        <button class="button-quiz" on-click="_beginQuiz" disabled$="{{!isValid}}">
          <span> <i18n-msg msgid="start"> Start </i18n-msg> </span>
        </button>
      </div>
    </div>

  </template>

  <script>
    class ConfigView extends Polymer.Element {
      static get is() { return 'config-view'; }

      static get observers() {
        return [
          '_checkFormValid(user.*)'
        ];
      }

      static get properties() {
        return {
          /** Quiz profile (frontend, backend, fullstack, etc.) */
          profile: String,
          /** Data from localStorage */
          storageData: Object,
          /** Candidate's information */
          user: {
            type: Object,
            value: () => ({}),
            notify: true
          },
          /** Value to check if the form is valid */
          isValid: {
            type: Boolean,
            value: false,
            notify: true
          },
        };
      }

      /** Ready function */
      ready() {
        super.ready();
        this.$.quizStatusData.clearLocalStorage();
      }

      /** Method to observe if the form is valid or not */
      _checkFormValid() {
        this.isValid = this.$.resultForm ? this.$.resultForm.checkValidity() : false;
      }
    
      /** Function that stores the candidate's information in localStorage and redirects to landing-view */
      _beginQuiz() {
        this.profile = 'frontend';
        
        const profileEvent = new CustomEvent(
          'onProfileChange',
          { detail: { profile: this.profile }, composed: true }
        );

        this.dispatchEvent(profileEvent);

        this.$.quizStatusData.setUserData(this.user);        
      }
    }
    window.customElements.define(ConfigView.is, ConfigView);
  </script>
</dom-module>
