<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/i18n-msg/i18n-msg.html">

<link rel="import" href="../styles/shared-styles.html">

<dom-module id="landing-view">
  <template>
    <style include="shared-styles">

      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .landing-img {
        width: 100%;
        height: 50%;
        background-image: url(../../images/landing-background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .company-logo {
        bottom: 6rem;
        width: 100px;
        height: 100px;
        position: absolute;
        animation: animationFrames ease-out 1.8s;
        animation-iteration-count: 1;
      }

      @keyframes animationFrames {
        0% {
          opacity:0;
          transform: translate(0px, -400px);
        }
        100% {
          opacity:1;
          transform: translate(0px, 0px);
        }
      }

      .description-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
        width: 80%;
        position: absolute;
        top: 20%;
      }

      .description-wrapper > p {
        margin: 1em;
        text-align : center;
        line-height: 1.7;
        font-size: var(--sopra-font-xl);
        color: #333333;
      }

      .button-quiz {
        margin: auto 0 2rem 0;
      }

      @media screen and (min-width: 768px) {
        .landing-img {
          background-attachment: fixed;
          background-position: center; 
        }
        .description-wrapper {
          width: 60%;
          top: 40%;
        }
        .description-wrapper > p {
          font-size: var(--sopra-font-xxl);
        }
      }

      @media screen and (min-width: 1024px) {
        .description-wrapper {
          width: 50%;
        }
      }

    </style>
    
    <div class="landing-img"></div>
    
    <div class="description-wrapper">
      <p>[[quizData.description]] </p>
    </div>

    <img class="company-logo" src="[[importPath]]../../images/soprasteria-logo.png" alt="">

    <button class="button-quiz" on-click="_changeRoute">
      <span> <i18n-msg msgid="start"> Start </i18n-msg> </span>
    </button>

  </template>

  <script>
    class LandingView extends (class extends Polymer.Element {}) {
      static get is() { return 'landing-view'; }

      static get properties() {
        return {
          quizData: Object,
          language: {
            value: 'es'
          },
          importPath: String
        };
      }

      _changeRoute() {
        var event = new CustomEvent(
          'onRouteChange',
          { detail: { newRoute: `question/${this.quizData.id}` }, composed: true }
        );

        this.dispatchEvent(event);
      }
    }
    window.customElements.define(LandingView.is, LandingView);
  </script>
</dom-module>
