<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="answer-item.html">


<dom-module id="answer-container">
  <template>
    <style include="shared-styles">
      answer-item {
        margin-bottom: 20px;
        @apply --answer-container-props;
      }
    </style>
    <template is="dom-if" if="[[_isSelector(answerType)]]">
      <iron-selector 
        id="optionSelector" 
        role="navigation" 
        attr-for-selected="id" 
        selected="{{_singleAnswer}}" 
        selected-values="{{selectedAnswer}}"
        multi="{{_isMultiple(answerType)}}">
        <template is="dom-repeat" items="{{options}}" as="option">
          <answer-item id="[[option.id]]" option="[[option]]"></answer-item>
        </template>
      </iron-selector>
    </template>
    <template is="dom-if" if="[[!_isSelector(answerType)]]">
      <paper-textarea label="Escribe aquí tu respuesta" value="{{_singleAnswer}}"></paper-textarea>
    </template>
  </template>

  <script>
    /**
    * `<answer-container>` show possible answers for the questions depending on the questionType 
    * (simple, multiple or text).
    *
    * ## Usage
    * Just inject the `<answer-container>` component with and *id* to provide
    *  easy access to its public functions and expose The variables `answerType`, `options` and
    *  `selectedAnswer`.
    *
    * `<answer-container
    *     id="answerContainer"
    *     answer-type="[[answerType]]"
    *     options="[[questionOptions]]"
    *     selected-answer="{{selectedAnswer}}">
    * </answer-container>`
    *
    * ## Styling
    *
    * | Custom property            | Description                                            | Default |
    * |----------------------------|--------------------------------------------------------|---------|
    * | `--answer-container-props` | Mixin applied to answer container (margin, font, etc). | {}      |
    *
    * @customElement
    * @polymer
    */
    class AnswerContainer extends (class extends Polymer.Element {}) {
      static get is() {
        return 'answer-container';
      }

      static get properties() {
        return {
          /** Formatted answer for `one option` answer types */
          _singleAnswer: {
            type: String,
            notify: true,
            observer: '_singleChanged'
          },
          /** Type of the question (simple, multiple, text) */
          answerType: String,
          /** Available option choices, this is only for questions of type simple and multiple. */
          options: Array,
          /** Array of Id's of selected answers */
          selectedAnswer: {
            type: Array,
            notify: true,
            observer: '_setSingleAnswer'
          }
        };
      }

      /** Gives initial value as String for single selectedAnswer when the component is constructed. */
      constructor() {
        super();
        this._singleAnswer = this._getSingleAnswer();
      }

      /**
        * Observer to set answer as array when _singleAnswer change.
        * @param {String} singleAnswer
      */
      _singleChanged(singleAnswer) {
        if (singleAnswer) this.selectedAnswer = [singleAnswer];
      }

      /**
        * Observer to set _singleAnswer when iron-selector returns an array of selected answers.
        * @param {Array} selectedAnswer
      */
      _setSingleAnswer(selectedAnswer) {
        if (selectedAnswer.length === 1) this._singleAnswer = this._getSingleAnswer();
        else this._singleAnswer = '';
      }

      /**
        * Helper to recover singleAnswer as String when answerType is not multiple
        * @return {selectedAnswer}  Return first String in array as a flat String when answerType is not multiple.
      */
      _getSingleAnswer() {
        return (this.answerType !== 'multiple' && this.selectedAnswer && this.selectedAnswer[0]) ?
          this.selectedAnswer[0] : '';
      }

      /**
        * Helper to evaluate if answerType is a selectType or textType.
        * @param {String} answerType
        * @return {Boolean}.
      */
      _isSelector(answerType) {
        return (answerType === 'simple' || answerType === 'multiple');
      }

      /**
        * Helper to evaluate if answerType is multiple for iron-selector behavior.
        * @param {String} answerType
        * @return {Boolean}.
      */
      _isMultiple(answerType) {
        return (answerType === 'multiple');
      }
    }

    window.customElements.define(AnswerContainer.is, AnswerContainer);
  </script>
</dom-module>
