<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="answer-item.html">


<dom-module id="answer-container">
    <template>
        <style include="shared-styles">
            answer-item {
                margin-bottom: 20px;
            }
        </style>
        <template is="dom-if" if="[[_isSelector(answerType)]]">
            <iron-selector 
                id="optionSelector" 
                role="navigation" 
                attr-for-selected="id"
                selected="{{singleAnswer}}"
                selected-values="{{selectedAnswer}}"
                multi="{{_isMultiple(answerType)}}">
                <template is="dom-repeat" items="{{options}}" as="option">
                    <answer-item id="[[option.id]]" option="[[option]]"></answer-item>
                </template>
            </iron-selector>
        </template>
        <template is="dom-if" if="[[!_isSelector(answerType)]]">
            <paper-textarea label="Escribe aquí tu respuesta" value="{{singleAnswer}}"></paper-textarea>
        </template>
    </template>
    
    <script>
        class AnswerContainer extends Polymer.Element {
            static get is() {return 'answer-container';}

            static get properties() {
                return {
                    answerType: String,
                    options: Object,
                    selectedAnswer: {
                        type: Array,
                        notify: true,
                        observer: '_setSingleAnswer'
                    },
                    singleAnswer: {
                        type: String,
                        notify: true,
                        observer: '_singleChanged'
                    }
                };
            }

            constructor() {
                super();
                this.singleAnswer = this._getSingleAnswer();
            }
            _singleChanged(singleAnswer) {
                this.selectedAnswer = [singleAnswer];
            }
            _setSingleAnswer(selectedAnswer) {
                if (selectedAnswer.length === 1) this.singleAnswer = this._getSingleAnswer();
                else this.singleAnswer = '';
            }
            _getSingleAnswer() {
                return (this.answerType !== 'multiple' && this.selectedAnswer && this.selectedAnswer[0]) ?
                    this.selectedAnswer[0] : '';
            }

            _isSelector(answerType) {
                return (answerType === 'simple' || answerType === 'multiple');
            }
            _isMultiple(answerType) {
                return (answerType === 'multiple');
            }
        }

        window.customElements.define(AnswerContainer.is, AnswerContainer);
    </script>
</dom-module>