<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="email-sender">
  <template>
  </template>

  <script>
    (function() {
      const _url =
      'https://api.mailgun.net/v3/sandboxdcd7f8bf7d224a48bfe468df7e0cfece.mailgun.org/messages';
      const _from = 'mailgun@sandboxdcd7f8bf7d224a48bfe468df7e0cfece.mailgun.org';

      /**
      * `email-sender`
      * Send and email using the mailgun API
      * {
      *   to: String
      *   from: String
      *   subject: String
      *   html: String
      * }
      * @customElement
      * @polymer
      */
      class EmailSender extends Polymer.Element {
        static get is() { return 'email-sender'; }
        static get properties() {
          return {
            _configFormData: {
              type: FormData
            },
            config: {
              type: Object,
              value: () => ({})
            }
          };
        }

        // Observe the name sub-property on the user object
        static get observers() {
          return [
            '_sendEmail(config.*)'
          ];
        }

        _sendEmail() {
          if (this.config.to && this.config.html) {
            let data = new URLSearchParams();
            data.append('from', _from);
            data.append('to', this.config.to);
            data.append('subject', this.config.subject);
            data.append('html', this.config.html);

            this._configFormData = data;

            let myHeaders = new Headers();
            myHeaders.append('Authorization',
              'Basic YXBpOmtleS0xZmI3YzFkZTk0YThhMzNkNmJlMDU5NWNkYWQzN2M4OA==');

            fetch(_url, {
              mode: 'no-cors',
              method: 'POST',
              credentials: 'include',
              headers: myHeaders,
              body: this._configFormData
            })
            .then((res) => this._handleResponse(res))
            .catch((err) => this._handleError(err));
          }
        }

        _handleResponse(res) {
          let event = new CustomEvent('onEmailSentSuccesfully',
            { detail: { response: res }, composed: true });
          this.dispatchEvent(event);
        }

        _handleError(error) {
          let event = new CustomEvent('onEmailError', { detail: { error: error }, composed: true });
          this.dispatchEvent(event);
        }
      }

      window.customElements.define(EmailSender.is, EmailSender);
    })();
  </script>
</dom-module>
