<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="email-sender">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `email-sender`
     * Send and email using the mailgun API
     *
     * @customElement
     * @polymer
     */
    class EmailSender extends Polymer.Element {
      static get is() { return 'email-sender'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'email-sender'
          }
        };
      }
    }

    window.customElements.define(EmailSender.is, EmailSender);
  </script>
</dom-module>
