<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="gradient-progress-bar">
  <template>
    <style include="shared-styles">
      :host {
        width: 100%;
        height: var(--gradient-progress-bar-height, 60px);
        background-color: var(--gradient-progress-bar-background, var(--sopra-orange-500));
        position: relative;
        @apply --gradient-progress-bar;
      }

      .progress {
        height: 100%;
        position: absolute;
        top: 0;
        transition: ease-in 0.3s;
        background-image: linear-gradient(to left, var(--gradient-progress-bar-background, var(--sopra-orange-500)) 0%, var(--gradient-progress-bar-progress-background, var(--sopra-red-500)) 3%);
        @apply --gradient-progress-bar-progress;
      }

      .slots-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        @apply --gradient-progress-bar-slots-wrapper;
      }

      .slots-wrapper > div {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        @apply --gradient-progress-bar-slots-wrapper-slot-wrapper;
      }

      .slots-wrapper .left {
        @apply --gradient-progress-bar-slots-wrapper-slot-wrapper-left;
      }

      .slots-wrapper .center {
        flex: 1;
        @apply --gradient-progress-bar-slots-wrapper-slot-wrapper-center;
      }

      .slots-wrapper .right {
        @apply --gradient-progress-bar-slots-wrapper-slot-wrapper-right;
      }

    </style>

    <div class="progress"></div>

    <div class="slots-wrapper">
      <div class="left">
        <slot name="left"></slot>
      </div>
      <div class="center">
        <slot name="center"></slot>
      </div>
      <div class="right">
        <slot name="right"></slot>
      </div>
    </div>

  </template>

  <script>
    class GradientProgressBar extends Polymer.Element {
      static get is() { return 'gradient-progress-bar'; }

      static get properties() {
        return {
          progress: {
            type: Number,
            observer: '_onProgress'
          }
        }
      }

      _onProgress(progress) {
        this.shadowRoot.querySelector('.progress').style.width = `${progress}%`;
      }

    }

    window.customElements.define(GradientProgressBar.is, GradientProgressBar);
  </script>
</dom-module>