<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="progress-timer">
  <template>
    <style include="shared-styles">
      .progress-timer-container {
        @apply --progress-timer-props;

        --progress-timer-props: {
          font-size: var(--sopra-font-xxl);
          color: white;
        }
      }
    </style>
    <quiz-local-storage
      id="quizLocalStorage"
      storage-data="{{storageData}}">
    </quiz-local-storage>
    <div class="progress-timer-container">
      [[formattedTime]]
    </div>
    </template>
  </template>

  <script>
    class ProgressTimer extends Polymer.Element {
      static get is() { return 'progress-timer'; }

      static get properties() {
        return {
          timePassed: {
            type: Number,
            value: 0
          },
          quizType: {
            type: String
          },
          storageData: {
            type: Object,
            observer: '_loadFromStorage'
          }
        }
      }

      ready() {
        super.ready();
        this.formattedTime = '00:00:00';
      }

      _loadFromStorage() {
        if (this.$.quizLocalStorage.storageData[this.quizType]) {
          this.timePassed = this.$.quizLocalStorage.storageData[this.quizType].time || 0;
          this.formattedTime = this._formatTime();
        }
      }

      start() {
        this.timeInterval = setInterval(() => { this._updateTime() }, 1000);
      }

      pause() {
        clearInterval(this.timeInterval);
      }

      reset() {
        this.timePassed = 0;
        this.formattedTime = this._formatTime();
        this._updateStorageTime();
      }

      _updateTime() {
        this.timePassed++;
        this.formattedTime = this._formatTime();
        this._updateStorageTime();
      }

      _updateStorageTime() {
        // TOIMPROVE: I think is not good update the storage every second
        this.$.quizLocalStorage.updateStorage(this.quizType, 'time', this.timePassed);
      }
      _formatTime() {
        const date = new Date(null);
        date.setSeconds(this.timePassed);
        const result = date.toISOString().substr(11, 8);
        return result;
      }
    }

    window.customElements.define(ProgressTimer.is, ProgressTimer);
  </script>
</dom-module>
