<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="../data-providers/quiz-status-data.html">
<link rel="import" href="question-statement-displayer.html">
<link rel="import" href="quiz-paginator.html">
<link rel="import" href="answer-container.html">

<dom-module id="question-container">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--sopra-grey-100);
        overflow: hidden;
      }

      p {
        font-size: calc(var(--sopra-font-xxl) + 2px);
        font-weight: bold;
      }

      answer-item:not(:last-of-type) {
        margin-bottom: 20px;
      }

      .question-container {
        padding: 3% 0px;
        width: 100%;
        flex-grow: 1;
        height: calc(100% - 70px);
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "statement" "options";
        justify-items: center;
        align-items: center;
      }

      #sopra-scroll::-webkit-scrollbar-track {
        border-radius: 0px;
      }

      #sopra-scroll::-webkit-scrollbar {
        width: 7px;
      }

      #sopra-scroll::-webkit-scrollbar-thumb {
        border-radius: 7px;
        box-shadow: inset 0 0 2px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
        background-color: var(--sopra-blue-500);
      }

      question-statement-displayer {
        grid-area: statement;
      }

      iron-selector {
        grid-area: options;
        min-width: 50%;
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (min-width: 1024px) {
        .question-container {
          margin: 0px;
        }
      }
    </style>

    <div class="question-container responsive-container" id="sopra-scroll">
      <question-statement-displayer 
        question=[[question.question]] 
        question-id=[[question.id]]>
      </question-statement-displayer>
      
      <answer-container 
        answer-type="[[question.type]]"
        options="[[question.options]]"
        selected-answer-array="{{selectedAnswerArray}}">
      </answer-container>
    </div>

    <quiz-paginator
      class="responsive-container"
      length-questions="[[quizData.questions.length]]"
      current-question-id="[[currentQuestionId]]"
      answered-questions-count="{{answeredQuestionsCount}}">
    </quiz-paginator>
    
  </template>

  <script>
    class QuestionContainer extends Polymer.Element {
      static get is() {return 'question-container';}

      static get properties() {
        return {
          question: {
            type: Object,
            value: () => {}
          },
          selectedAnswerArray: {
            type: Array,
            value: [],
            notify: true
          },
          answeredQuestionsCount: Number,
          quizData: Object,
          currentQuestionId: Number
        };
      }
    }

    window.customElements.define(QuestionContainer.is, QuestionContainer);
  </script>
</dom-module>
