<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="question-statement-displayer">
  <template>
    <style include="shared-styles">
      :host {
      }

      p {
        font-size: calc(var(--sopra-font-xxl) + 2px);
        font-weight: bold;
      }

      img {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
      }

    </style>
    
    <!-- <p> [[questionId]] - [[question.title]] </p>
    <template is="dom-if" if="[[question.image]]">
      <img src$="[[question.image]]">
    </template> -->
    <p> Is this the statement of the question containing an image? </p>
    <img src="https://cdn.static-economist.com/sites/default/files/images/2015/09/blogs/economist-explains/code2.png">
  
  </template>

  <script>
    /**
      * `<question-statement-displayer>` displays the question statement and adapts to questions with or without images.
      *
      * ## Usage
      * Just inject the `<question-statement-displayer>` component.
      *
      * `<question-statement-displayer 
      *   question=[[question.question]] 
      *   question-id=[[question.id]]>
      *  </question-statement-displayer>`
      *
      * ## Styling
      *
      * | Custom property          | Description                                              | Default |
      * |--------------------------|----------------------------------------------------------|---------|
      * |  |  |  |
      *
      * @customElement
      * @polymer
    */
    class QuestionStatementDisplayer extends (class extends Polymer.Element {}) {
      static get is() { return 'question-statement-displayer'; }

      static get properties() {
        return {
          /** Object containing the title of the question and an optional image */
          question: Object,
          questionId: String
        }
      }
    }

    window.customElements.define(QuestionStatementDisplayer.is, QuestionStatementDisplayer);
  </script>
</dom-module>
