<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../data-providers/quiz-status-data.html">
<link rel="import" href="quiz-paginator.html">
<link rel="import" href="answer-container.html">

<link rel="import" href="../styles/shared-styles.html">


<dom-module id="question-container">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--sopra-grey-100);
      }

      p {
        font-size: calc(var(--sopra-font-xxl) + 2px);
        font-weight: bold;
      }

      .question-container {
        margin: 0px 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-self: center;
        justify-content: center;
      }

      @media screen and (min-width: 1024px) {
        .question-container {
          margin: 0px;
        }
      }
    </style>

    <div class="question-container responsive-container">
      <p> [[question.id]] - [[question.question.title]] </p>
      <answer-container 
        answer-type="[[question.type]]"
        options="[[question.options]]"
        selected-answer-array="{{selectedAnswerArray}}">
      </answer-container>
    </div>

    <quiz-paginator
      class="responsive-container"
      length-questions="[[quizData.questions.length]]"
      current-question-id="[[currentQuestionId]]"
      answered-questions-count="{{answeredQuestionsCount}}">
    </quiz-paginator>
    
  </template>

  <script>
    class QuestionContainer extends Polymer.Element {
      static get is() {return 'question-container';}

      static get properties() {
        return {
          question: {
            type: Object,
            value: () => {}
          },
          selectedAnswerArray: {
            type: Array,
            value: [],
            notify: true
          },
          answeredQuestionsCount: Number,
          quizData: Object,
          currentQuestionId: Number
        };
      }
    }

    window.customElements.define(QuestionContainer.is, QuestionContainer);
  </script>
</dom-module>
