<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="quiz-paginator">
  <template>
    <style include="shared-styles">
       :host {
        display: flex;

      }

      .finish{
        flex-grow: 1;
        text-align: left;
      }

      button{  
        font-size: var(--sopra-font-xxxl);
        margin-top: 2em;
        border-width: 0;
        outline: none;
        color: var(--sopra-blue-500);
        cursor: pointer;
        background-color: transparent;
      }


      button[disabled]:active{
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
      }

    
    </style>
    <button class="finish" on-click="_changeRoute" data="finish">Finalizar</button>
    <button class="back" on-click="_changeRoute" data="back">Anterior</button>
    <button class="next"  on-click="_changeRoute" data="next" >Siguiente</button>
  </template>

  <script>
    class QuizPaginator extends Polymer.Element {
      static get is() { return 'quiz-paginator'; }

      _changeRoute(event) {
          let  data =  event.target.getAttribute('data');
          var event = new CustomEvent('onPageQuestionChange',
                                      { detail: {  operation: data },
                                        composed: true });
          this.dispatchEvent(event);   
      }

    }

    window.customElements.define(QuizPaginator.is, QuizPaginator);
  </script>
</dom-module>